<ion-header>
  <ion-toolbar>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="content-grid">
    <ion-row class="row-center">
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Configurações</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Configurações Gerais
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Perfil do Usuário</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Informações do Perfil
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Notificações</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            API's de Notificações
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Politica de Privacidade e Segurança</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Visualize de Privacidade e Segurança
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Modo Noturno</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Ative ou desative o Modo Noturno
            <ion-toggle [(ngModel)]="darkTheme" (ionChange)="toggleDarkTheme()">
              <ion-icon slot="start" name="moon"></ion-icon>
            </ion-toggle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
