ion-content {
    --background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
  
    .content-grid {
      width: 100%;
      max-width: 600px;
      padding: 20px;
      align-self: center;
    }
  
    .row-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    ion-card {
      margin: 10px 0;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
  
      ion-card-header {
        ion-card-title {
          font-weight: bold;
        }
      }
  
      ion-card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
  
        ion-toggle {
          --background: transparent;
          margin: 0;
  
          ion-icon {
            font-size: 24px;
            color: #007bff;
          }
        }
      }
    }
  }
  