.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.center-container {
  display: flex;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Isso vai centralizar verticalmente na altura total da viewport */
}